In [ ]:
import requests
import dask.dataframe as dd
from datetime import datetime
import json
import pandas as pd
import os
from dotenv import load_dotenv
import pyodbc
import sqlalchemy
import cm_utlity_library
# from delta.tables import DeltaTable

load_dotenv()

True

In [ ]:
facility_id_list = ["1000", "1001", "1002", "1003"]
BASE_URL = "https://rockpoolrac.residential.icarehealth.com.au/Tetra.Web"
TOKEN = cm_utlity_library.get_cm_access_token()

In [20]:
def get_residency(facility_id, TOKEN):
    url = f"{BASE_URL}/api/ExternalResidencyV2/Search?facilityId={facility_id}"
    
    headers = {
        "Authorization": f"Bearer {TOKEN}",
        "Accept": "application/json"
    }
    
    response = requests.get(url, headers=headers)
    response.raise_for_status()  # Will raise an error for 401, 403, etc.

    if response.status_code != 200:
        raise Exception(f"Failed to retrieve data: {response.status_code} - {response.text}")
    
    data = response.json()["Residencies"]

    # If the data is nested, adjust this line as needed
    df = pd.DataFrame(data)
    return df

In [24]:
df_output = pd.DataFrame()

In [26]:
df_list = []

for facility_id in facility_id_list:
    df = get_residency(facility_id, TOKEN)
    df_list.append(df)

df_output = pd.concat(df_list, ignore_index=True)

In [27]:
display(df_output.head())

,Id,ResidentId,FacilityId,LocationId,Status,DateOfEntry,DateTerminated,DateDeleted,EntryType,DateCreated,DischargeReason,FacilityRacs,FacilityLocationName,ResidentUrl
0,58,3,1000,1,0,2019-10-25T10:00:00,None,None,1,2019-12-16T15:10:45,0.0,5437,Springbrook,None
1,5,4,1000,4,0,2019-10-04T10:00:00,None,None,1,2019-10-04T17:51:42,0.0,5437,Maleny,None
2,53,7,1000,5,0,2019-11-21T10:00:00,None,None,1,2019-12-16T14:56:16,0.0,5437,Glasshouse,None
3,11,11,1000,2,0,2019-10-18T10:00:00,None,None,1,2019-10-18T02:38:21,0.0,5437,Daintree,None
4,206,17,1000,2,0,2020-07-24T14:00:00,None,None,1,2020-07-23T13:22:07,0.0,5437,Daintree,None